body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(fondojapon.gif);
    background-position: center;
    background-attachment: fixed; 
    
}

.navbar_style{
    width: 290px;
    border: 10px;
    padding: 8px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-right: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 4px rgb(255, 255, 255);


    
    
}
.logo_arriba{
    width: 100px;
    border-radius: 100%;
    float: right;

}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    padding: 0; 
    box-sizing: border-box;
    
}
.fisc{
    font-size: 200px;
    margin-top: 500px;
    text-shadow: 0 0 60px black;
    letter-spacing: 30px;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-shadow: 0 0 9px black;
    margin: auto;
    margin-top: 30px;

}


p{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 20px;
    letter-spacing: 2px;
    margin: 0;

}
.nosotros{
    background: rgba(0, 0, 0, 0.89);
    margin: 0;
    text-align: center;
    border-radius: 10px;

}
.navbar a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    
    
    

}
.banner img{
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin: auto;
    box-sizing: border-box;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}


.parte1{
        width: 600PX;
        
        margin: auto;
        padding: 4px;
        border: 10px;
        margin-top: 20px;
        border-radius: 5PX;
}

        h2{
        color: rgba(0, 0, 0, 0.589);
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 70px;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
        letter-spacing: 8px;
        margin: 0px;
        
        
        

    }
    h3{
        color: white;
        text-align: center;
        font-family: arial;
        font-size: 40px;
        text-shadow: 0 0 10px rgb(41, 41, 41);
        text-transform: uppercase;
        margin-top: 1px;
        padding: 2PX;
        margin-bottom: 0;

    }

    h4{
        text-align: center;
        font-size: 2em;
        font-family: arial;
        text-shadow: 0 0 20px rgb(41, 41, 41);
        color: white;
        margin: 0;
        

    }
    
    .section{
        background: rgba(0, 0, 0, 0.527);
        background-position: center;

        padding: 30px;
        padding-top: 10px;
        height: 80px;
    }
    
    .miembro{
        background: rgba(0, 0, 0, 0.479);
        width: 220px;
        padding-left: 20px;
        padding-top: 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin: 33px;
        
    }

    .name{
        margin: auto;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: rgba(99, 151, 211, 0.397);
    }
    img{
        box-shadow: 0 0 10px black;
        border-radius: 5px;
    }
    .galeria{
        width: 400px;
        display: inline;
        margin: 5px;
        margin-top: 100PX;
        padding: 10px;
        box-sizing: border-box;
    }
.logo{
    width: 200px;
    border-radius: 100%;
    margin-left: 200px;
}
.input_form{
    width: 400px;
    background: rgba(0, 0, 0, 0.678);
    margin: auto;
    margin-top: 130px;
    padding: 30px;
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 20px;
    display: block;

    
    
}
textarea{
    width: 400px;
    max-width: max-content;
    min-width: 400px;
    max-height: 200px;
    min-height: 200px;
}

input{
    width: 90%;
    box-sizing: border-box;
    padding: 7px;
    margin-left: 15px;
}
.fiscalia{
    font-size: 300px;
    letter-spacing: 9px;
}
.videos{
    margin: auto;
    background: rgba(0, 0, 0, 0.527);
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    width: 60%;
    box-sizing: border-box;
}
